/*
standaard vormgeving verwijderen:
border:none;
appearance:none;
outline:none;*/

/* voor focus: outline aanpassen*/

/* Fonts */
@font-face {
  font-family: 'Elena';
  src: url(../fonts/ElenaWebRegular.woff2);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Elena';
  src: url(../fonts/ElenaWebRegularItalic.woff2);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Elena';
  src: url(../fonts/ElenaWebBold.woff2);
  font-style: normal;
  font-weight: bold
}

@font-face {
  font-family: 'Elena';
  src: url(../fonts/ElenaWebBoldItalic.woff2);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Mija';
  src: url(../fonts/Mija_Regular-webfont.woff2);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Mija';
  src: url(../fonts/Mija_Bold-webfont.woff2);
  font-style: normal;
  font-weight: bold;
}

/* css reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mija', Arial, Helvetica, sans-serif;
  font-style: normal;
}

/* algemeen */
section {
  position: relative;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited,
a:hover,
a:active {
  color: inherit;
}

article {
  position: relative;
}

ul {
  list-style-type: none;
}

strong {
  font-family: inherit;
  font-weight: bold;
}

em {
  font-family: inherit;
  font-style: italic;
}

.home_titles {
  font-family: 'Elena';
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .8em;
  margin: 1em 0em 3em 0em;
  color: #222;
}

@media (min-width: 1025px) {
  .home_titles {
    transform: rotateZ(90deg);
    position: absolute;
    margin-left: -1em;
    top: 7em;
    left: 0em;
  }
}

.see-all {
  font-family: 'Elena';
  font-style: normal;
  font-variant: small-caps;
  font-size: .8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin: 3em 0em;
  padding-bottom: .5em;
  border-bottom: 5px solid #d33a2c;
  display: block;
  max-width: 15em;
  text-align: center;
  margin: 0 auto;
  transition: .1s ease-out;
  height: 2em;
}

.see-all:hover {
  color: #d33a2c
}

*:focus {
  outline: dotted .2em darkred;
}

/* HEADER */
header {
  background-color: #d33a2c;
  position: relative;
}

#logo-mob {
  width: 3em;
  margin: 1.6em auto 0em 1em;
}

.menubutton {
  position: absolute;
  right: 1em;
  top: 1.2em;
  padding: .8em 3em .8em 1em;
  background-color: #0003;
  color: #fff;
  border-radius: 11px;
  border: none;
  box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  background-image: url(../images/website/homepage-algemeen/menu-cat.svg);
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 35px;
}

nav {
  display: flex;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 2em;
  margin: 1em 2em;
}

nav ul {
  columns: 2;
}

nav li a {
  padding: .7em 1em;
}

nav li a:hover {
  background-color: #0003;
  border-radius: 10px;
}

header form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1.5em 0em;
}

#search {
  border: none;
  border-radius: 11px;
  box-shadow: 0 0.5em .75em rgba(0, 0, 0, .25);
  font-family: 'Mija', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  padding-left: calc(22px + .75em + .75em);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIyNHB4IiB3aWR0aD0iMjRweCI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIyMi4zMSIgeTE9IjIzLjYyIiB4Mj0iMy43MyIgeTI9IjMuMDUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNlOTM3MjIiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmODZmMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48dGl0bGU+TWFnbmlmaWVyPC90aXRsZT48cGF0aCBmaWxsPSJ1cmwoI2xpbmVhci1ncmFkaWVudCkiIGQ9Ik0yMy4zMyAyMC4xbC00LjczLTQuNzRhMTAuMDYgMTAuMDYgMCAxIDAtMy4yMyAzLjIzbDQuNzQgNC43NGEyLjI5IDIuMjkgMCAxIDAgMy4yMi0zLjIzem0tMTcuNDgtNS44NGE1Ljk0IDUuOTQgMCAxIDEgOC40MiAwIDYgNiAwIDAgMS04LjQyIDB6Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-size: 1.4em;
  background-position: .75em 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 18em;
}

#search:hover {
  box-shadow: 0px 0.5px 10em rgba(0, 0, 0, 0.55);
}

/* main home*/
#h1-1st {
  font-family: 'Mija', Arial, Helvetica, sans-serif;
  color: #333;
  text-shadow: none;
  background-color: #fff;
  font-size: 1.8em;
  text-align: center;
  line-height: 1.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 3em;
}

#h1-1st span {
  display: inline-block;
  padding: 0 .25em;
}

#h1-1st span:first-of-type {
  padding: .2em .1em;
  width: 12em;
}

/* div maken */
/* .shadow-beneath::after {
  content: url(../images/website/homepage-algemeen/shadow.png);
} */

.featured-articles div:first-of-type {
  display: flex;
  justify-content: center;
}

.featured-articles {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  position: relative;
}

.featured-articles {
  background-color: #bc3428;
  padding-top: 10em;
}

@media (min-width: 1000px) {
  .featured-article {
    max-width: 50vw;
  }
}

.featured-articles ul:first-of-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.featured-article {
  padding: 1.2em;
}

.featured-article .spreekwolkje {
  width: 1em;
  margin-right: 1em;
  margin-top: .5em;
}

.pic-move {
  border: 5px solid;
  border-color: #d33a2c;
  border-radius: 10px;
  width: 7em;
  transform: rotateZ(calc(-11 * 1deg));
  transition: .2s ease-in;
}

.pic-move:hover,
.pic-move:focus {
  transform: none;
}

.arrow {
  color: white;
  background: none;
  border: none;
  font-size: 2em;
}

.hashtag {
  font-size: .7em;
  display: flex;
  flex-direction: row;
}

.hashtag li::before {
  content: '# ';
  color: black;
  font-size: .7em;
}

.hashtag li {
  margin: 1.5em 0em;
  margin-right: 1.5em;
}

/* LATEST POSTS */
.latest_posts {
  background-color: #f6f3f2;
  padding: 1.2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.scaleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.scaleContainer article {
  padding: 1em 1.5em 5em;
  transition: .1s;
}

@media (min-width: 640px) {
  .scaleContainer article {
    width: 50vw;
  }
}

@media (min-width: 1100px) {
  .scaleContainer article {
    width: 33vw;
  }
}

time {
  font-family: 'Elena';
  font-style: normal;
  font-variant: small-caps;
  font-size: .8em;
  color: #666667;
  letter-spacing: 1px;

}

.latest_posts article h2 {
  text-decoration: underline;
  margin-bottom: 1em;
  transition: .1s ease-in;
}

.latest_posts article .author {
  color: #666667;
  font-size: .9em;
  margin-bottom: 1em;
  font-weight: bold;
}

.latest_posts article .author-link {
  text-decoration: underline;
}

.latest_posts article .pre-text {
  font-family: 'Elena';
  font-style: normal;
  font-size: 1.15em;
  margin-bottom: 1em;
  color: #666667;
}

.latest_posts article .arrow {
  color: #d33a2c;
  padding: .5em 0em;
  transition: .1s ease-in;
  z-index: 1;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .scaleContainer {
    margin-left: 5em;
  }
}

.scaleContainer>li {
  z-index: 1;
}

/* Latest posts HOVER */
.scaleContainer li {
  transition: .3s;
}

.scaleContainer article:hover {
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.25);
}

.scaleContainer>li:hover {
  transform: scale(1.1);
  transition-duration: .3s;
  z-index: 2;
}

.scaleContainer article:hover h2 {
  color: #d33a2c;
}

.scaleContainer li:hover button.arrow {
  background-color: #006fc6;
  width: 5em;
  margin-left: -.75em;
  color: white;
}

/* ad */

.latest_posts .ad-inbetween {
  background-color: #d33a2c;
  color: #fff;
  border-radius: 1em;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  padding: 2.5em 2em;
  max-width: 300px;
}

.latest_posts .ad-inbetween img {
  width: 70%;
  margin-bottom: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.latest_posts .ad-inbetween h2 {
  text-decoration-color: #e58980;
  text-align: center;
}

.latest_posts .ad-inbetween p {
  font-family: 'Elena';
  text-align: center;
}

.latest_posts .ad-inbetween button {
  color: #267dcc;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 1em 2em;
  width: 90%;
  margin: 1em;
  font-size: 1em;
  align-self: center;
  font-weight: bold;
}

.latest_posts .ad-inbetween p:nth-of-type(2) {
  font-size: .8em;
}

.latest_posts .ad-inbetween p:nth-of-type(2) a {
  font-family: 'Elena';
  text-decoration: underline;
  text-decoration-color: orange;
}

/* BLUE AD */
.blue_ad {
  background-color: #1b71bb;
  background-image: linear-gradient(#1b71bb 45%, #4399d9 100%);
  color: #fff;
  text-align: center;
  padding: 3em 1.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue_ad p {
  font-family: 'Elena';
  font-style: normal;
}

.blue_ad p:first-of-type {
  font-variant: small-caps;
  text-transform: uppercase;
  font-size: .65em;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

.blue_ad h2 {
  margin: .5em 0em 1em;
  font-size: 2.2em;
  line-height: 1.2em;
  text-shadow: 2px 2px 1px rgba(3, 3, 3, .3);
  text-decoration: underline;
  text-decoration-color: #4399d9;
  max-width: 700px;
}

.blue_ad p:nth-of-type(2) {
  font-size: 1.3em;
  text-shadow: .5px .5px .5px rgba(3, 3, 3, .7);
  line-height: 1.5em;
  max-width: 700px;
}

.blue_ad button {
  border: none;
  border-radius: 15px;
  background-color: #fff;
  color: #267dcc;
  padding: .8em 1em;
  font-size: 1.2em;
  font-weight: bold;
  margin: 2em 0em;
}

.blue_ad button:hover {
  color: #d33a2c;
}

.blue_ad img {
  margin: 1em 0em;
  max-width: 800px;
}

/* COMMUNITY LINKS */
.community_links {
  background-color: #fff;
  padding: 3em;
  position: relative;
}

@media (min-width: 1025px) {
  .community_links {
    padding-left: 5em;
  }
}

.community_links article {
  margin: 4em 0em;
}

.community_links #potw {
  font-family: 'Elena';
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1em;
  color: #666667;
}

.community_links #f-link {
  margin: 1.5em 0em;
}

.community_links p {
  font-family: 'Elena';
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  color: #333;
}

.community_links p a {
  font-family: inherit;
  color: #006fc6;
  text-decoration: underline;
}

.community_links figcaption a {
  color: #666667;
  text-decoration: underline;
}

.community_links .wrote {
  font-style: italic;
  color: #999;
}

.community_links h2 {
  font-family: 'Mija';
  font-style: normal;
  font-size: 1.3em;
  line-height: 1.3em;
  margin: 1em 0em;
}

/* RED AD */
.red_ad {
  background-color: #d33a2c;
  color: #fff;
  padding: 2em;
}

.red_ad img {
  width: 10em;
  margin: 1em 0em;
}

.red_ad h1 {
  font-family: 'Elena';
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .9em;
}

.red_ad h2 {
  text-decoration: underline;
  text-decoration-color: #e58980;
  margin: .5em 0em;
  font-size: 2em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .25)
}

.red_ad p {
  font-family: 'Elena';
  font-weight: normal;
  font-size: 1.1em;
  line-height: 1.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .25)
}

.red_ad button {
  border: none;
  border-radius: 15px;
  background-color: #fff;
  color: #267dcc;
  padding: .8em 1em;
  font-size: 1.2em;
  font-weight: bold;
  margin: 2em 0em;
}

.red_ad button:hover {
  color: #d33a2c;

}

/* OUR GUIDES */
.our_guides {
  background-color: #f6f3f2;
  padding: 1.5em;
  position: relative;
}

@media (min-width: 1025px) {
  .our_guides {
    padding-left: 5em;
  }
}

.our_guides ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.our_guides article {
  background-color: #fff;
  padding: 2em;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
  margin: 1em 1em 3em;
  position: relative;
  max-width: 500px;
}

/* @media (min-width: 614px) {
  .our_guides article {
    max-width: 50vw;
  }
} */

.our_guides .smash-g {
  font-family: 'Elena';
  font-style: normal;
  font-size: .7em;
  text-transform: uppercase;
  color: #666667;
  margin-bottom: .3em;
}

.our_guides h2 {
  font-size: 1.8em;
  text-decoration: underline;
  margin-bottom: 1.5em;
}

.our_guides p {
  font-family: 'Elena';
  font-style: normal;
  font-size: 1.2em;
  color: #333;
}

.our_guides button {
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 1em 1em;
  font-size: 1.2em;
  font-weight: bold;
  margin: 2em 0em 0em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
}

.our_guides h2#green {
  color: #19a972;
}

.our_guides h2#orange {
  color: #ff5a00;
}

.our_guides h2#purple {
  color: #aa1994;
}

.our_guides li:first-of-type button {
  background-color: #19a972;
}

.our_guides li:nth-of-type(2) button {
  background-color: #ff5a00;
}

.our_guides li:nth-of-type(3) button {
  background-color: #aa1994;
}

.our_guides #email-r {
  background-color: #1b71bb;
  background-image: linear-gradient(#1b71bb 60%, #01a6c1 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.our_guides #email-r img {
  width: 100%;
  height: auto;
  justify-self: center;
}

.our_guides #email-r h2 {
  margin: 1em 0em;
  font-size: 2em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
}

.our_guides #email-r p {
  font-family: 'Elena';
  font-style: normal;
  color: #fff;
  font-size: 1.15em;
  margin-bottom: 1.5em;
}

.our_guides #email-r input {
  border: none;
  border-radius: 10px;
  width: 16rem;
  height: 3.5rem;
  padding: .5em 0em;
  font-size: 1.5em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
  margin-bottom: 1.5rem;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

.our_guides #email-r #email {
  font-size: 1.3em;
  font-family: 'Elena';
  font-style: italic;
  padding-left: 1em;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
  transition: .3s;
}

.our_guides #email-r #email:focus {
  box-shadow: none;
}

.our_guides #email-r #submit {
  background-color: #0168b8;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .45);
  transition: .2s;
}

.our_guides #email-r #submit:hover {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .25)
}

.our_guides #email-r form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-bottom: 1em;
  margin-top: -1em;
}

@media (min-width: 500px) {
  .our_guides #email-r form {
    flex-direction: row;
  }
}

.our_guides #email-r div {
  background-color: #0067b859;
  text-align: center;
  padding: .8em 1.5em;
  border-radius: 10px;
}

.our_guides #email-r div p {
  margin-bottom: 0;
  line-height: 1.5em;
}

/* ARTICLE PAGINA */

/* article */
.article {
  padding: 5em 1em;
  display: flex;
}

.article a {
  color: #006fc6;
  font-family: inherit;
  font-size: inherit;
  text-decoration: underline;
}

.bigger {
  width: 10em;
  border: 8px solid;
  border-color: #d33a2c;
  border-radius: 20px;
  margin-bottom: 1em;
}

#author2 {
  font-family: 'Elena';
  font-size: .8em;
  text-transform: uppercase;
  font-weight: normal;
  color: #666667;
  letter-spacing: 2px;
}

#abtauth {
  font-family: 'Elena';
  font-size: .9em;
  color: 555;
  margin-top: 1em;
}

.article p:nth-of-type(2) {
  margin-top: 3em;
  font-size: .9em;
  color: #d33a2c;
}

.article time {
  font-size: 1em;
}

.article h1 {
  margin-top: .5em;
  font-size: 2em;
  color: #333;
}

.article ul:first-of-type {
  background-color: #f6f6f6;
  padding: 1em 1em .5em;
  border-radius: 15px;
  font-size: .9em;
  margin-top: 2em;
}

.article ul:first-of-type li {
  margin-bottom: .5em;
}

.quicksum {
  font-family: 'Elena';
  font-size: 1.3em;
  font-style: italic;
  font-weight: normal;
  margin-top: 2em;
  color: #555;
  line-height: 1.55em;
}

.quicksum span {
  color: #d33a2c;
  font-family: 'Elena';
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.quicksum strong {
  font-style: inherit;
}

.quicksum a {
  font-style: inherit;
}

.inleiding {
  font-family: 'Elena';
  font-size: 1.2em;
  border-top: 3px solid #e6e6e6;
  margin-top: 2em;
  color: #333;
  line-height: 1.55em;
}

.inleiding img {
  display: inline-block;
  width: 10em;
}

.inleiding::first-line {
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 1.2em;
}

.alinea {
  font-family: 'Elena';
  font-size: 1.1em;
  color: #333;
  margin-top: 2em;
  line-height: 1.55em;
}

.article figure {
  margin-top: 2em;
}

.article figure img {
  width: 90vw;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}

.article figure figcaption {
  font-family: 'Elena';
}

/* footer */
footer {
  background-color: #d33a2c;
  color: white;
  padding: 2em;
  position: relative;
}

footer h1 {
  font-family: 'Elena';
  font-style: normal;
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: .9em;
  margin: 2em 0em;
}

footer #sitemap {
  display: flex;
  flex-wrap: wrap;
}

footer #sitemap li::before {
  content: "• ";
  color: darkred;
}

footer #sitemap li {
  margin: .5em 0em;
  min-width: 40vw;
}

@media (min-width:770px) {
  footer #sitemap {
    flex-direction: row;
    padding: 0em 3em;
  }

  footer #sitemap li {
    min-width: 5em;
    text-align: center;
    font-size: 1.3em;
  }

  footer h1 {
    text-align: center;
  }

  #f-last {
    padding: 0em 10em;
  }
}

footer ul li a {
  font-family: 'Elena';
  font-size: .9em;
}

#f-notes {
  margin: 2em 0em;
}

#f-notes p {
  font-family: 'Elena';
  font-style: normal;
  font-size: .9em;
  text-align: center;
}

#f-notes p:nth-of-type(2),
#f-notes p:nth-of-type(3),
#f-notes p:nth-of-type(4) {
  font-size: .9em;
}

#f-notes a {
  text-decoration: underline;
  font-family: inherit;
}

#f-notes p:first-of-type {
  font-style: italic;
}

#f-last {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#f-last li {
  padding: .5em .1em;
}

#f-last a {
  text-decoration: underline;
  font-family: 'Elena';
  font-style: normal;
  font-size: .9em;
  text-align: center;
  margin-right: 1em;
}

footer img {
  width: 40vw;
}

footer .backtotop {
  background-image: url(../images/website/homepage-algemeen/backtotop.svg);
  background-color: transparent;
  border: none;
  width: 4em;
  height: 4em;
  margin-left: 5em;
  transform: rotateZ(calc(-11 * 1deg));
  position: absolute;
  bottom: 2em;
  right: 2em;
}

footer .backtotop:hover {
  transform: none;
}

/* Foto + auteur naam */

.pic-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1.5em auto;
}

.pic-name img {
  margin-right: 1em;
}

.pic-name p a {
  font-family: 'Mija', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.wrote {
  font-family: 'Elena';
  font-style: italic;
  font-weight: normal;
  margin-left: .2em;
}